.app.dark {
    --bg-color: #242442;
    --inverted-bg-color: #b7b7c0;
    --primary-color: #07b607;
    --secondary-color: #0f0;
    --inverted-primary-color: #093483;
    --inverted-secondary-color: #3353f8;
}
