.app.light {
  --bg-color: #c2c2cc;
  --inverted-bg-color: #3b3b9f;

  --primary-color: #727b93;
  --secondary-color: #002bff;
  --inverted-primary-color: #07b607;
  --inverted-secondary-color: #00ff00;
}